<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Sweet Shop</title>
  <link href="static/style.css" rel="stylesheet" />
 
</head>
<body>
  <header>
    <h1>Sweet Shop</h1>
    <a href="add_sweet" class="btn-add">+ Add Sweet</a>
</header>
{% if messages %}
<div class="message-box">
  {% for message in messages %}
    <div class="alert {{ message.tags }}">{{ message }}</div>
  {% endfor %}
</div>
{% endif %}

<form method="get" class="search-form">
<input type="text" name="query" placeholder="Search by name or category" value="{{ request.GET.query }}">
<input type="number" name="min_price" placeholder="Search Min Price" step="0.01" value="{{ request.GET.min_price }}">
<input type="number" name="max_price" placeholder="Search Max Price" step="0.01" value="{{ request.GET.max_price }}">
<select name="sort">
    <option value="">Sort By</option>
    <option value="name_asc" {% if request.GET.sort == 'name_asc' %}selected{% endif %}>Name ↑</option>
    <option value="name_desc" {% if request.GET.sort == 'name_desc' %}selected{% endif %}>Name ↓</option>
    <option value="price_asc" {% if request.GET.sort == 'price_asc' %}selected{% endif %}>Price ↑</option>
    <option value="price_desc" {% if request.GET.sort == 'price_desc' %}selected{% endif %}>Price ↓</option>
    <option value="quantity_asc" {% if request.GET.sort == 'quantity_asc' %}selected{% endif %}>Quantity ↑</option>
    <option value="quantity_desc" {% if request.GET.sort == 'quantity_desc' %}selected{% endif %}>Quantity ↓</option>
  </select>
<button type="submit">Search</button>
<a href="/" class="reset-link btn">Reset</a>
</form>

  

  
  <div class="container">
    {% for sweet in sweets %}
    <div class="sweet-card">
      <div class="sweet-name">{{ sweet.name }}</div>
      <div class="sweet-category">{{ sweet.category}}</div>
      <div class="sweet-info">Price: <span class="price">{{ sweet.price }}</span></div>
      <div class="sweet-info">Available: {{ sweet.quantity }}</div>
      <button onclick="openStockModal({{ sweet.id }})" type="button">Add Stock</button>

       <button onclick="openPurchaseModal({{ sweet.id }})">Purchase</button>


        <div class="action-menu">
  <button class="menu-btn">⋮</button>
  <div class="menu-dropdown">
    <!-- pass id with the url  -->
    <a href="{% url 'update_sweet' sweet.id %}">Edit</a>  
    <form action="{% url 'delete_sweet' sweet.id %}" method="post">
      {% csrf_token %}
      <button type="submit" class="delete-link">Delete</button>
    </form>
  </div>
</div>
    </div>
    {% empty %}
    <p>No sweets available.</p>
    {% endfor %}
  </div>

  <!-- Modal for puchase poo up box  -->

<!-- Modal Overlay -->
<div id="modalOverlay" style="display:none;"></div>

<!-- Purchase Modal -->
<div id="purchaseModal" style="display:none;">
  <form method="POST" action="{% url 'purchase_sweet' %}">
    {% csrf_token %}
    <input type="hidden" name="sweet_id" id="sweetIdInput">
    <label for="amount">Enter amount to purchase:</label>
    <input type="number" name="amount" min="1" required>
    <div class="modal-buttons">
      <button type="submit">Buy</button>
      <button type="button" onclick="closeModal()">Cancel</button>
    </div>
  </form>
</div>

<!-- Add Stock Modal -->
<div id="stockModal" style="display:none;">
  <form method="POST" action="add_stock">
    {% csrf_token %}
    <input type="hidden" name="sweet_id" id="stockSweetIdInput">
    <label for="stock_amount">Enter stock to add:</label>
    <input type="number" name="amount" min="1" required>
    <div class="modal-buttons">
      <button type="submit">Add</button>
      <button type="button" onclick="closeStockModal()">Cancel</button>
    </div>
  </form>
</div>


</body>
</html>
<script>
  document.querySelectorAll('.menu-btn').forEach(btn => {
    btn.addEventListener('click', function (e) {
      e.stopPropagation();
      const menu = this.nextElementSibling;
      document.querySelectorAll('.menu-dropdown').forEach(m => {
        if (m !== menu) m.style.display = 'none';
      });
      menu.style.display = menu.style.display === 'block' ? 'none' : 'block';
    });
  });

  document.addEventListener('click', () => {
    document.querySelectorAll('.menu-dropdown').forEach(menu => {
      menu.style.display = 'none';
    });
  });

  function openPurchaseModal(sweetId) {
  document.getElementById('sweetIdInput').value = sweetId;
  document.getElementById('modalOverlay').style.display = 'block';
  document.getElementById('purchaseModal').style.display = 'block';
}

function closeModal() {
  document.getElementById('modalOverlay').style.display = 'none';
  document.getElementById('purchaseModal').style.display = 'none';
}

function openStockModal(sweetId) {
  document.getElementById('stockSweetIdInput').value = sweetId;
  document.getElementById('modalOverlay').style.display = 'block';
  document.getElementById('stockModal').style.display = 'block';
}

function closeStockModal() {
  document.getElementById('modalOverlay').style.display = 'none';
  document.getElementById('stockModal').style.display = 'none';
}

</script>
